body {
  font: 0.7vw Verdana, Sans-Serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2E3440;
}

.keeb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.alphaAfRowWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.numPad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

.numPad > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.numPad .flexRowPlease {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.numPadLargerRow {
  height: 30%;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numPadInsideCol {
  height: 100%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.numPadSmallerRow {
  height: 14%;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alphasPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.alphasPart > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.3375vw;
}

.fRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.addFunctions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

.addFunctions > div {
  width: 61%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.6vw;
  height: 2.7vw;
  text-align: center;
  border-style: solid;
  border-color: #D8DEE9;
  border-width: 0.1vw;
  color: #ECEFF4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.filler {
  border-color: transparent !important;
}

.oneU {
  width: 2.7vw;
}

.sixPtwofiveU {
  width: 16.875vw;
}

.twoPsevenfiveU {
  width: 7.425vw;
}

.twoPtwofiveU {
  width: 6.075vw;
}

.twoU {
  width: 5.4vw;
}

.onePsevenfiveU {
  width: 4.725vw;
}

.onePfiveU {
  width: 4.05vw;
}

.onePtwofiveU {
  width: 3.375vw;
}

.zeroPthreeUH {
  height: 0.9vw;
}

.oneUH {
  height: 2.7vw;
}

.twoUH {
  height: 5.4vw;
  line-height: 5.4vw;
}

.raise {
  -webkit-transform: translateY(-0.7em) !important;
          transform: translateY(-0.7em) !important;
  background-color: #BF616A !important;
  color: #ECEFF4 !important;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  border-color: transparent !important;
}

.raiseBlue {
  -webkit-transform: translateY(-0.3em);
          transform: translateY(-0.3em);
  background-color: #5E81AC;
  color: #ECEFF4 !important;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  border-color: transparent !important;
}

.pressed {
  background-color: #E5E9F0;
  color: #2E3440 !important;
}

.sett {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.resetButtonStyle {
  height: 8vw;
  width: 8vw;
  font: 1.4vw Verdana, Sans-Serif;
  border-radius: 100vw;
  background-color: #ECEFF4;
  border: 0.1vw solid transparent;
  color: #2E3440;
}

.resetButtonStyle:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  background-color: #81A1C1;
  color: #ECEFF4;
}

.resetButtonStyle:active {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateY(0em);
          transform: translateY(0em);
  background-color: #BF616A;
  color: #ECEFF4;
}
/*# sourceMappingURL=styles.css.map */