$white: #ECEFF4;
$darkerwhite:#E5E9F0;
$darkestwhite:#D8DEE9;
$black:#2E3440;
$blue: #5E81AC;
$lightblue:#81A1C1;
$green: #8FBCBB;
$turquioseblue: #88C0D0;
$red: #BF616A;
$orange: #D08770;
$yellow: #EBCB8B;
$othergreen: #A3BE8C;
$purple: #B48EAD;


body {
    font: 1.1vw Verdana, Sans-Serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black;
}

.textArea {
    margin-top: 50px;
    border-radius: 10px;
    background-color: $white;
    padding: 10px;
    width: 70%;
    padding-bottom: 0%;
}

$oneUWidth: (1/15)*100%;

.keeb {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width:70%;
    padding: 1.2vw;
    //border-radius: 1vw;
    //background-color: $darkestwhite;
    

    > div {
        display: flex;
        flex-direction: row;
    }

    >div>div {
        margin: 0.3vw;
        border-radius: 0.6vw;
        width: $oneUWidth;
        padding-top: $oneUWidth/4;
        padding-bottom: $oneUWidth/4;
        text-align: center;
        white-space: nowrap;
        border-style:solid;
        border-color: $darkestwhite;
        border-width: 0.1vw;
        color:$white
    }

    .sixPtwofiveU {
        width:6.25*$oneUWidth;
    }

    .twoPsevenfiveU {
        width:2.75*$oneUWidth;
    }

    .twoPtwofiveU {
        width: 2.25*$oneUWidth;
    }

    .twoU {
        width: 2*$oneUWidth;
    }

    .onePsevenfiveU {
        width: 1.75*$oneUWidth;
    }

    .onePfiveU {
        width: 1.5*$oneUWidth;
    }

    .onePtwofiveU {
        width:1.25*$oneUWidth
    }
}

.raise {
    transform: translateY(-0.7em) !important;
    background-color: $red !important;
    color: $white !important;
    transition-duration: 0.1s;
    border-color: transparent !important;
}

.raiseBlue {
    transform: translateY(-0.3em);
    background-color: $blue ;
    color: $white !important;
    transition-duration: 0.1s;
    border-color: transparent !important;
}

.pressed {
    background-color: $darkerwhite;
    color: $black !important;
}

.sett {
    display: flex;
    flex-direction: row;
    width:70%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.resetButtonStyle {
    // padding-left: .6*$oneUWidth;
    // padding-right: .6*$oneUWidth;
    // padding-top: .17*$oneUWidth;
    // padding-bottom: .17*$oneUWidth;
    height: 8vw;
    width: 8vw;
    font: 1.4vw Verdana, Sans-Serif;
    border-radius: 100vw;
    background-color: $white;
    border: 0.1vw solid transparent;
    color: $black;

    &:hover{
        transition-duration: 0.2s;
        transform: translateY(-0.25em);
        background-color: $lightblue;
        color: $white;
    }

    &:active {
        transition-duration: 0.2s;
        transform: translateY(0em);
        background-color: $red;
        color: $white;
    }

    
}