body {
  font: 1.1vw Verdana, Sans-Serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2E3440;
}

.textArea {
  margin-top: 50px;
  border-radius: 10px;
  background-color: #ECEFF4;
  padding: 10px;
  width: 70%;
  padding-bottom: 0%;
}

.keeb {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  padding: 1.2vw;
}

.keeb > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.keeb > div > div {
  margin: 0.3vw;
  border-radius: 0.6vw;
  width: 6.66667%;
  padding-top: 1.66667%;
  padding-bottom: 1.66667%;
  text-align: center;
  white-space: nowrap;
  border-style: solid;
  border-color: #D8DEE9;
  border-width: 0.1vw;
  color: #ECEFF4;
}

.keeb .sixPtwofiveU {
  width: 41.66667%;
}

.keeb .twoPsevenfiveU {
  width: 18.33333%;
}

.keeb .twoPtwofiveU {
  width: 15%;
}

.keeb .twoU {
  width: 13.33333%;
}

.keeb .onePsevenfiveU {
  width: 11.66667%;
}

.keeb .onePfiveU {
  width: 10%;
}

.keeb .onePtwofiveU {
  width: 8.33333%;
}

.raise {
  -webkit-transform: translateY(-0.7em) !important;
          transform: translateY(-0.7em) !important;
  background-color: #BF616A !important;
  color: #ECEFF4 !important;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  border-color: transparent !important;
}

.raiseBlue {
  -webkit-transform: translateY(-0.3em);
          transform: translateY(-0.3em);
  background-color: #5E81AC;
  color: #ECEFF4 !important;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  border-color: transparent !important;
}

.pressed {
  background-color: #E5E9F0;
  color: #2E3440 !important;
}

.sett {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.resetButtonStyle {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1.13333%;
  padding-bottom: 1.13333%;
  border-radius: 10vw;
  background-color: #ECEFF4;
  border: 0.1vw solid transparent;
  color: #2E3440;
}

.resetButtonStyle:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  background-color: #81A1C1;
  color: #ECEFF4;
}

.resetButtonStyle:active {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateY(0em);
          transform: translateY(0em);
  background-color: #BF616A;
  color: #ECEFF4;
}
/*# sourceMappingURL=styles.css.map */