$white: #ECEFF4;
$darkerwhite:#E5E9F0;
$darkestwhite:#D8DEE9;
$black:#2E3440;
$blue: #5E81AC;
$lightblue:#81A1C1;
$green: #8FBCBB;
$turquioseblue: #88C0D0;
$red: #BF616A;
$orange: #D08770;
$yellow: #EBCB8B;
$othergreen: #A3BE8C;
$purple: #B48EAD;


body {
    font: 0.7vw Verdana, Sans-Serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black;
}

.keeb {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    width:80%;
}

.alphaAfRowWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
$oneUWidth: 2.7vw;

.numPad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;

    > div {
        display: flex;
        flex-direction: row;
    }

    .flexRowPlease {
        display: flex;
        flex-direction: row;
        width:100%;
        justify-content: space-between;
    }

    &LargerRow {
        height:30%;
        width: 80%;
        justify-content: space-between;
        align-items: center;
    }

    &InsideCol {
        height:100%;
        width:75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &SmallerRow {
        height:14%;
        width: 80%;
        justify-content: space-between;
    }
}
 

.alphasPart {
    display: flex;
    flex-direction: column;
    width: 100%;

    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: $oneUWidth/8;
    }
}

.fRow {
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
}

.addFunctions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;

    >div {
        width:61%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.6vw;
    // padding-top: $oneUWidth/3.5;
    // padding-bottom: $oneUWidth/3.5;
    // padding-right: $oneUWidth/20;
    // padding-left: $oneUWidth/20;
    height:$oneUWidth;
    //line-height: $oneUWidth/1.25;
    text-align: center;
    //white-space: nowrap;
    border-style:solid;
    border-color: $darkestwhite;
    border-width: 0.1vw;
    color:$white;
    transition-duration: 0.2s;
}

.filler {
    border-color: transparent !important;
}

.oneU {
    width:$oneUWidth;
}

.sixPtwofiveU {
    width:6.25*$oneUWidth;
}

.twoPsevenfiveU {
    width:2.75*$oneUWidth;
}

.twoPtwofiveU {
    width: 2.25*$oneUWidth;
}

.twoU {
    width: 2*$oneUWidth;
}

.onePsevenfiveU {
    width: 1.75*$oneUWidth;
}

.onePfiveU {
    width: 1.5*$oneUWidth;
}

.onePtwofiveU {
    width:1.25*$oneUWidth;
}

.zeroPthreeUH {
    height:$oneUWidth/3;
}

.oneUH { 
    height:$oneUWidth;
}

.twoUH {
    height:2*$oneUWidth;
    line-height: 2*$oneUWidth;
}

.raise {
    transform: translateY(-0.7em) !important;
    background-color: $red !important;
    color: $white !important;
    transition-duration: 0.1s;
    border-color: transparent !important;
}

.raiseBlue {
    transform: translateY(-0.3em);
    background-color: $blue ;
    color: $white !important;
    transition-duration: 0.1s;
    border-color: transparent !important;
}

.pressed {
    background-color: $darkerwhite;
    color: $black !important;
}

.sett {
    display: flex;
    flex-direction: row;
    width:70%;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;
}
.resetButtonStyle {
    // padding-left: .6*$oneUWidth;
    // padding-right: .6*$oneUWidth;
    // padding-top: .17*$oneUWidth;
    // padding-bottom: .17*$oneUWidth;
    height: 8vw;
    width: 8vw;
    font: 1.4vw Verdana, Sans-Serif;
    border-radius: 100vw;
    background-color: $white;
    border: 0.1vw solid transparent;
    color: $black;

    &:hover{
        transition-duration: 0.2s;
        transform: translateY(-0.25em);
        background-color: $lightblue;
        color: $white;
    }

    &:active {
        transition-duration: 0.2s;
        transform: translateY(0em);
        background-color: $red;
        color: $white;
    }

    
}